<!DOCTYPE html>
<html lang="en">

<head>

    <%- include ('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/deletteProduct.css">
        <title>HANGAR</title>

</head>

<body>
    <%- include ('./partials/header.ejs') %>

        <section class="container">
            <form class="modificar-producto" action="/product/<%= productToFind.id %>?_method=put" method="post">
                <div class=" encabezado">
                    <h1>Eliminar / Modificar Producto</h1>
                </div>
                <div class="name">
                    <label for="name">Nombre del producto</label>
                    <input id="name" type="text" name="name" value="<%= productToFind.name %> ">
                </div>
                <div class="description">
                    <label for="description">Descripcion del producto</label>
                    <textarea id="description" type="text"
                        name="description"> <%= productToFind.description %> </textarea>
                </div>
                <div class="img-eliminar-product">
                    <label for="imagen">Imagen del producto</label>
                    <input id="imagen" type="file">
                </div>
                <div class="category">
                    <label for="category" class="form-label">Categoría:</label>
                    <select name="category" id="category" class="form-input">
                        <option value="">Elegí</option>
                        <option <% if(productToFind.category=='in-sale' ) {%>
                            selected
                            <% } %>

                                value="in-sale" >En oferta
                        </option>

                        <option>
                        <option <% if(productToFind.category=='visited' ) {%>
                            selected
                            <% } %>

                                value="visited" >Últimos visitados
                        </option>
                    </select>
                </div>

                <div class="discount">
                    <label for="discount">Descuento del producto</label>
                    <input id="discount" type="text" name="discount" value="<%= productToFind.discount %> ">
                </div>

                <!--<div class="product-color">
                    <label for="color">Color del producto</label>
                    <input id="color" type="color">
                </div>
                <div class = "product-tam">
            <label for="tamanio">Tamaño</label>
            <select  class = "button-tam" name = "tamanio">
                <option disabled="">Seleccione una Opcion</option>
                        <option value="ESTANDAR">ESTANDAR</option>
                        <option value="GRANDE">GRANDE</option>
                        <option value="CHICO/A">CHICO/A</option>
            </select>
        </div><-->
                <div class="price">
                    <label for="price">Precio del producto</label>
                    <input id="price" type="text" name="price" value="<%= productToFind.price %> ">
                </div>

                <button class="edit"> MODIFICAR</button>

            </form>
            <div class="box-buttonDelete">
                <form class="eliminar-producto" action="/product/<%= productToFind.id %>?_method=delete" method="post">

                    <button type="submit" class="delete"
                        onclick="return confirm('Estas seguro que deseas eliminar este producto?')"> ELIMINAR </button>

                </form>
            </div>

        </section>

        <%- include ('./partials/footer.ejs') %>

</body>

</html>